{{ define "hugoschemaindex" }}
---
title: Schema
description: Details of the objects used in the API
---

{{ end }} {{/* hugoschemaindex */}}

{{ define "schemaindex" }}
{{ end }} {{/* schemaindex */}}